body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  box-sizing: border-box;
}

.logo {
  color: #4d5ae5;
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  box-sizing: border-box;
}

.studio {
  color: #2e2f42;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
}

.navigation-menu:last-child {
  margin-right: 332px;
}

.navigation-menu-f {
  color: #2e2f42;
}

.navigation-menu-f:hover,
.navigation-menu-f:focus {
  color: #404bbf;
}

.navigation-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
  box-sizing: border-box;
  gap: 40px;
}

.navigation-address-f {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.navigation-address-f:hover,
.navigation-address-f:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 48px;
  display: flex;
  box-sizing: border-box;
  max-width: 496px;
}

.hero-button {
  justify-content: flex-start;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 188px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-item {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  gap: 24px;
}

.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third {
  background-color: #f4f4fd;
}

.third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  display: flex;
}

.third-item {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}

.third-card {
  justify-content: center;
  background-color: #ffffff;
}

.third-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}

.third-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 32px;
}

.fourth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.fourth-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.fourth-card {
  background: #fff;
}

.fourth-card:last-child {
  padding-bottom: 120px;
}

.fourth-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}

.fourth-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
}

.studio-s {
  color: #f4f4fd;
}
